#mainScreen {
    align-items: center;
    
    margin: 3rem
}

#notRegistered {
    margin-left: 2rem;
}

#trophyCase {
    margin-top: 2rem;
}

#test {
    font-size: 4vw;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 2rem;
    font-size: 5vw;
}