#mainScreen {
    align-items: center;
    overflow-y: scroll;
    margin: 3rem
}

#notRegistered {
    margin-left: 2rem;
    font-size: 3vw;
    background: content-box;
    color: darkgreen;
}

#trophyCase {
    margin-top: 2rem;
    color: gold;
    text-align: -webkit-center;
    font-size: 4vw;
    
}

#test {
    font-size: 4vw;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 2rem;
    font-size: 3vw;
    margin-top: 1rem;
    min-inline-size: fit-content;
}



#topTrophies {
    width: 75%;
    height: auto;
    margin: 1rem;
    max-height: 500px;
    max-width: 500px;
    font-size: 4vw;
    
}

#topTrophiesCard {
    background-image: linear-gradient(to bottom, #336720, #40621c, #4a5e1a, #52591b, #57551d, #564b1c, #54421c, #4f3a1d, #422b1a, #321e17, #201311, #0b0303);
    cursor: pointer;
    font-size: 4vw;
    padding-bottom: 7px;
    border-style: inset;
    margin-top: 1rem;
    
    
}

#topTrophiesDetailsCard {
    background-image: linear-gradient(to right bottom, #151c13, #1f2718, #2c331c, #3b3e20, #4c4924, #565223, #605c22, #6a6620, #67721a, #5e8017, #4e8d1c, #2d9b28);
    color: white;
    font-size: 4vw;
    border-style: inset;
    margin-top: 1rem;
 
    
}

#topTrophiesCardBack {
    background-image: linear-gradient(to top, #073705, #282600, #2a1700, #1e0b05, #000000);
    height: 400px;
    width: 99%;
    color: white;
    font-size: 4vw;
    cursor: pointer;
    padding-bottom: 7px;
    border-bottom-style: double;
    margin-top: 2rem;
  
    
}

#userBackCard {
    background-image: linear-gradient(to top, #073705, #282600, #2a1700, #1e0b05, #000000);
    height: 500px;
    color: white;
    font-size: 4vw;
    cursor: pointer;
    width: 90%;
    margin-right: 5%;
    
}




#backgroundDiv {
    background-image: radial-gradient(circle, #0e7328, #286b21, #33621c, #3a5a1a, #3e5219, #354a1b, #2d431d, #263b1d, #18301d, #0e251b, #081a16, #010d0c);
   
    padding: 0;
    margin: 0;
}

#buttonGroup {
    color: gold;
    font-size: 4vw;
    text-align: center;
    justify-content: center;
   
}

#intro {
   
    padding: 1.5rem;
    
}


#html {
    background-image: radial-gradient(circle, #0e7328, #286b21, #33621c, #3a5a1a, #3e5219, #354a1b, #2d431d, #263b1d, #18301d, #0e251b, #081a16, #010d0c);
   
    height: 100%
}


.MuiButton-label {
 
    align-self: baseline;
    
}

.MuiButton-root{
    margin-bottom: 0.7rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 3rem;
}

.MuiButton-text {
    height: 3rem;
}

.MuiCard-root {
    width: 98%;
    margin-top: 4rem;
}

.MuiGrid-root {
    margin-top: 3rem;
    
}

.button {
    border: outset;
}

.input {
    border: outset;
}


::-webkit-scrollbar {
    display: none;
}


#registerForm {

    text-align: center;
    text-align-last: center;
    background-color: gold;
    width: 320px;
    height: 500px;
    margin-right: 1rem;

}

div#registrationForm.MuiGrid-root {
    text-align: -webkit-center;
}

div.MuiGrid-root {
    text-align: -webkit-center;
}
/* 
#map {
    height: 100%
} */

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */



/* useful *note */

#myIframe {
    position: relative;
    
    padding-top: 80.25%;
}

#innerIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}